body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #f0ffff;
  background-color: #283645;
}

.container {
  min-width: 17rem;
  max-width: 45.325rem;
  padding-top: 9.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

.slider__input {
  display: none;
}

.slider__item {
  max-width: 45.2rem;
  margin-bottom: 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border: 0.125rem solid #f0ffff;
  background-image: url("../img/devushka-krichit-nozhami.jpg");
  overflow: hidden;
}

.slider__item-inner {
  display: flex;
  transition: margin 0.3s;
  width: 500%;
}

.slider__image {
  width: 100%;
}

.slider__image img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 18px;
}

.slider__box {
  display: flex;
  flex-direction: row-reverse;
}

.slider__item-text {
  width: 70%;
  overflow: hidden;
}

.slider__text-inner {
  display: flex;
  width: 500%;
  transition: margin 0.3s;
}

.slider__text {
  width: 20%;
  flex-shrink: 0;
}

.slider__text p {
  margin: 0;
  padding-right: 1rem;
}

.slider__nav {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 30%;
}

.slider__btn {
  display: block;
  padding: 0.35rem;
  cursor: pointer;
}

.slider__btn span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.125rem solid #D22856;
  background-color: #D22856;
  border-radius: 50%;
}

.slider__btn:hover span {
  border-color: #f0ffff;
  background-color: #f0ffff;
}

.slider__input:nth-child(1):checked ~ .slider__box .slider__btn:nth-child(1) span,
.slider__input:nth-child(2):checked ~ .slider__box .slider__btn:nth-child(2) span,
.slider__input:nth-child(3):checked ~ .slider__box .slider__btn:nth-child(3) span,
.slider__input:nth-child(4):checked ~ .slider__box .slider__btn:nth-child(4) span,
.slider__input:nth-child(5):checked ~ .slider__box .slider__btn:nth-child(5) span  {
  background-color: #283645;
}

.slider__input:nth-child(2):checked ~ .slider__item .slider__item-inner {
  margin-left: -100%;
}

.slider__input:nth-child(3):checked ~ .slider__item .slider__item-inner {
  margin-left: -200%;
}

.slider__input:nth-child(4):checked ~ .slider__item .slider__item-inner {
  margin-left: -300%;
}

.slider__input:nth-child(5):checked ~ .slider__item .slider__item-inner {
  margin-left: -400%;
}

.slider__input:nth-child(2):checked ~ .slider__box .slider__text-inner {
  margin-left: -100%;
}

.slider__input:nth-child(3):checked ~ .slider__box .slider__text-inner {
  margin-left: -200%;
}

.slider__input:nth-child(4):checked ~ .slider__box .slider__text-inner {
  margin-left: -300%;
}

.slider__input:nth-child(5):checked ~ .slider__box .slider__text-inner {
  margin-left: -400%;
}

@media screen and (max-width: 767px) {
  .slider__box {
    display: block;
  }

  .slider__nav {
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;  
  }

  .slider__item-text {
    width: 100%;
  }

  .slider__item {
    margin-bottom: 1.25rem;
  }

  .slider__text-inner,
  .slider__item-inner {
    transition: margin 0.25s;
  }

  .slider__text p {
    padding: 0;
  }
}